
html, body {
	background-color:#FFF;
	width:100%;
	margin:0;
}

h1 {
	text-align: left;
	font-family: Helvetica;
	font-size: 2em;
	font-weight:;
	color: #666;
	margin-bottom:.3m;
}

p {
	font-family: Helvetica;
	text-align: left;
	font-size:18px;
	color: #415b78;
}

li {
	font-family: Helvetica;
	text-align: left;
	font-size: 18xp;
	color: #415b78;
	margin: 3px;
}

h2 {
	text-align:center;
	font-family:Helvetica;
	font-weight:600;
	font-size:24px;
	color: #838383;
	text-transform:uppercase;
}

h3 {
	text-align:center;
	font-family:Helvetica;
	font-size:.75em;
	color:#415b78;
	text-transform:uppercase;
}

.header {
	width:100%;
	background:#488FDF;
	min-height:80px;
	margin-bottom: 0;
}

.logo {
	margin-left: 2%
}

.hero {
	margin-top:0;
	width:100%;
	min-height: 500px;
	max-height: 750px;
	background-image:url("images/hero.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
}

.hero_space {
	display:inline-block;
	margin-bottom: 40%
}

.hero h1 {
	display: inline-block;
	margin: 0;
	color:white;
	padding-left:10%;
	padding-bottom:10%;
	font-size:5em;
}

.wrapper {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.section {
	width:100%;
	background:#FFF;
	padding:50px 0;
	display:inline-block;
}


.sectionHighlight {
	width:100%;
	min-height:200px;
	background: rgba(72, 143, 223, 0.14);
	padding:50px 0;
	display:grid;
}

.scope {
	text-align: center;
}

.gridWrapper {
	width:100%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left:auto;
	margin-right:auto;
	padding-top: 5%;
	padding-bottom: 5%;
	display:inline-flex;
}

.cellLeft {
	float:left;
	width:40%;
	min-height:50px;
	margin-left: 50px;
}

.cellRight {
	float:right;
	width:40%;
	min-height:50px;
	margin-left:50px;
}

.KPIwrapper {
	height:150px;
	background:#666;
	color:#FFF;
	padding: 0 200px;
	display:block;
}

.KPIwrapper div {
	float:left;
	width:20%;
	display:block;
}

.KPIwrapper h1 {
	color:white;
}

.KPIwrapper p {
	color:white;
}

.footer {
	margin:0;
	height: 250px;
	width:100%;
	background-color:#488FDF;
}